*{
    margin: 0;
    padding: 0;
    
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
    box-sizing: border-box;
}
  body {
    background-color: rgba(59, 59, 59, 0.479);
    background-image: url(./bg_upscaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .widget {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .greeting {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 55px;
    color: burlywood; 
    background: rgba(85, 85, 85, 0.596); 
    backdrop-filter: blur(5px)
  }
  
  .time-container {
    display: inline-flex;
    align-items: center;
    background: rgba(85, 85, 85, 0.596); 
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .time {
    font-size: 7em;
    color: rgb(255, 255, 255);
    width: 6em; 
    text-align: center; 
  }
  
  .colon {
    animation: blink 2s steps(1, end) infinite;
    color: burlywood;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .ampm {
    font-size: 1em;
    color: burlywood;
    position: relative;
    align-self: flex-start; 
    left: -4%; 
    top: 70%;
  }
  
  .date-day {
    display: inline-flex;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 55px;
    background: rgba(85, 85, 85, 0.596); 
    backdrop-filter: blur(5px)
  }

  .date {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin: 5px 0;
    color: #ffffff; 
  }
  
  .day {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 55px;
    color: burlywood; 
    position: relative;
    align-self: flex-start;
  }
  
/* background effect */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  mix-blend-mode:  screen;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}

#play-pause-button {
  mix-blend-mode: normal;
  filter: invert();
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

/* Rotate device */

.phone {
    height: 50px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    animation: rotate 1.5s ease-in-out infinite alternate;
    display: none;
  }
  
  .message {
    font-family: monospace;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1em;
    margin-top: 60%;
    display: none;
  }
  
  @keyframes rotate {
    0% {
          transform: rotate(0deg)
      }
      50% {
          transform: rotate(-90deg)
      }
      100% {
          transform: rotate(-90deg)
      }
  }
  
  @media screen and (orientation: portrait) {
    .phone, .message {
        display: block;
        z-index: 2;
    }
    .widget{
        display: none;
    }
  }

  @media only screen and (max-device-width: 812px) and (orientation: landscape) {
    .phone, .message {
      display: none;
    }
  }

  /* Dark light mode */
  body {
    transition: filter 0.3s;
  }
  
  .toggle-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .mode-toggle {
    display: none;
  }
  
  .mode-label {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #888;
    border-radius: 10px;
    position: relative;
  }
  
  .mode-label::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    transition: left 0.3s;
  }
  
  .mode-toggle:checked + .mode-label {
    background-color: #333;
  }
  
  .mode-toggle:checked + .mode-label::before {
    left: 22px;
  }

  .dark-mode {
    background-image: url(./bg2.jpg);
    .date-day,.greeting,.time-container{
       background: rgba(218, 218, 218, 0.596); 
    }
    .time {
      font-size: 7em;
      color: rgb(0, 0, 0);
    }
    .date{
      color: black;
    }
    .day,.colon,.ampm,.greeting{
      color: orange;
    }
    .phone,.message{
      border-color: white;
      color: white;
    }
    .video-background{
      mix-blend-mode: lighten;
    }
}